@using System.Collections.Generic
@using System.Diagnostics.CodeAnalysis

@inject IJSRuntime JS
@typeparam T

<div id="@Id">

    @foreach (var item in Items)
    {
        @if (SortableItemTemplate is not null)
        {
            <div>
            @SortableItemTemplate(item)
            </div>
        }
    }
</div>